<table mat-table [dataSource]="matchData">
  <ng-component matColumnDef="playerOne">
    <th mat-header-cell *matHeaderCellDef>Spieler 1</th>
    <td mat-cell *matCellDef="let element">{{ element.playerOne }}</td>
  </ng-component>
  <ng-component matColumnDef="playerTwo">
    <th mat-header-cell *matHeaderCellDef>Spieler 2</th>
    <td mat-cell *matCellDef="let element">{{ element.playerTwo }}</td>
  </ng-component>
  <ng-component matColumnDef="points">
    <th mat-header-cell *matHeaderCellDef>Punkte</th>
    <td mat-cell *matCellDef="let element">{{ element.points }}</td>
  </ng-component>
  
  <tr mat-header-row *matHeaderRowDef="['playerOne', 'playerTwo', 'points']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['playerOne', 'playerTwo', 'points'];"></tr>
</table>

<button mat-icon-button (click)="addRow()">+</button>